

/*
  .subreddit-list {
  padding: 100px;
}  
*/

.card-body{
  padding-bottom : 0.5rem
}

.posts-menu{
  display:flex;
  flex-direction: :row;
  justify-content: space-between;
}


.dropdown-menu{
  font-size: 0.8em;
}

.dropdown-toggle{
  font-size: 0.8em;
  font-weight: 600;
}

.badge-warning{
  font-size: 0.85em;
  padding-top: 6px;
  padding-bottom: 6px; 
  padding-right: 0;
}

.subreddits{
  padding-left: 0px;
  padding-top: 10px;
}

.subreddit-title{
  color:#0275d8;
  font-weight: bold;
  font-size: 1.2em;
}

.subreddit-list{
  text-transform: capitalize;
}

.card-img-top{
  width:100%;
}


.episode-list{
  display:flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.show-name{
  color: #007bff;
  font-weight: bold;
  text-transform: capitalize;
}

.see-more{
  cursor: pointer
}

.card{
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 46%;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    width: 30%;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display:flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 4px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

button.close-icon{
  font-size: 1.8em;
  display: none;
  padding-bottom: 2px;
}

.form-control{
  border:none;
}

.search-icon{
  border:none;
  background-color: white;
}

.fa-search{
  font-size: 1.2em;
  color: #007bff;
}