
*{
  font-family: "Open Sans";
}

.badge {
    .close {
      padding-right: $badge-padding-x;
      padding-left: $badge-padding-x;
      margin-right: -$badge-padding-x;
      font-size: inherit;
      color: inherit;
      text-shadow: none;
    }
  }

/*
  .subreddit-list {
  padding: 100px;
}  
*/

.card-body{
  padding-bottom : 0.5rem
}

.posts-menu{
  display:flex;
  flex-direction: :row;
  justify-content: space-between;
}


.dropdown-menu{
  font-size: 0.8em;
}

.badge-warning{
  padding-top: 10px;; 
}

.close{
  margin-left : 5px;
  margin-right : 5px  
}

.subreddits{
  padding-left: 0px;
}